<div class="navigation-container">
    <div class="title-container">
        <div class="logo-container">
            <span class="logo"></span>
        </div>
        <div class="title">
            <h2>The Cosmic Pokedex</h2>
        </div>
    </div>
    <div class="links-container">
        <ul>
            <li><a routerLink="/about">About</a></li>
            <span>|</span>
            <li><a routerLink="/login">Login</a></li>
            <span>|</span>
            <div class="login-button">
                <li><a routerLink="/register">Get Started</a></li>
            </div>
        </ul>
    </div>
</div>