<div class="navigation-container">
    <div class="title-container">
        <div class="logo-container">
            <span class="logo">d</span>
        </div>
        <div class="title">
            <h2>The Cosmic Pokedex</h2>
        </div>
    </div>
    <div class="links-container">
        <ul>
            <li>About</li>
            <span>|</span>
            <li>Login</li>
            <span>|</span>
            <div class="login-button">
                <li>Get Started</li>
            </div>
        </ul>
    </div>
</div>