<div class="form-container">
    <div class="form-card">
        <h1>Login</h1>
        <div class="email-input">
            <input type="text" placeholder="Enter Email" id="emailInput" name="emailInput">
        </div>
        <div class="password-input">
            <input type="text" placeholder="Enter Password" id="emailInput" name="emailInput">
        </div>
        <div class="login-button">
            <button class="button">Login</button>
        </div>
        <h4>Don't have an account? <a routerLink="/register">Register Here!</a></h4>
        <div class="third-party-auth-container">
            <button>Microsoft</button>
            <button>Google</button>
            <button>Facebook</button>
        </div>
    </div>
</div>
