<div class="form-container">
    <div class="form-card">
        <h1>Sign Up</h1>
        <div class="email-input">
            <input type="text" placeholder="Enter Email" id="emailInput" name="emailInput">
        </div>
        <div class="password-input">
            <input type="text" placeholder="Enter Password" id="emailInput" name="emailInput">
        </div>
        <div class="login-button">
            <button class="button">Register</button>
        </div>
        <h4>Return to <a routerLink="/">Login Form!</a></h4>
    </div>
</div>

